<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p>Logged in as: <%= current_user.email %></p>
      <%= button_to: "Logout", session_url, method: :delete %>
      <p><%= link_to "Back to my page", user_url %></p>
    <% end %>


    <%= yield %>


      </form>
  </body>
</html>
